# Project
PROJECT_NAME=bgpm

# BIRD core
LOCAL_AS=65000
ROUTER_ID=192.0.2.10
PEER_COUNT=2

# Peer 1
PEER_1_NAME=router1
PEER_1_ADDR=198.51.100.1
PEER_1_ASN=64512
PEER_1_ROLE=active         # active|passive
# PEER_1_MULTIHOP=0         # 0 or >0

# Peer 2
PEER_2_NAME=router2
PEER_2_ADDR=198.62.100.1
PEER_2_ASN=64513
PEER_2_ROLE=passive
# PEER_2_MULTIHOP=0


# Syslog (choose one of these patterns ###There is a bug with TCP logging, use UDP instead###)
SYSLOG_ADDRESS=udp://127.0.0.1:514

SYSLOG_TAG=bgpm
SYSLOG_FORMAT=rfc5424